/* GENERAL STYLING */
:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

a.section-link {
  text-decoration: none;
}
.section-link:hover {
  text-decoration: #578a88 underline 0.1rem;
}

/* MOBILE VIEW - STACK ITEMS */
br.line-break {
  display: none;
}

/* Header box */
div#header-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
div#header-top {
  display: flex;
  flex-direction: column;
}
div#header-name {
  display: flex;
  flex-direction: column;
  gap: 0;
}
div#header-name > * {
  text-align: center;
  font-size: 3em;
}
div#header-skill-areas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1rem;
  gap: 2rem;
}
div.header-skills-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
div.header-skills-row > * {
  font-size: 1.5rem;
  text-align: center;
}
div#header-links {
  display: flex;
  flex-direction: column;
  gap: 0;
}

div#section-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
div.section-links-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* General About me section */
div#about-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#about-blurb {
  border: none;
  padding-right: 0;
}
div#about-education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
div#about-education > p {
  text-wrap: nowrap;
  margin-bottom: 0.25rem;
  line-height: 1.25rem;
}
div#about-education > p:last-child {
  margin-bottom: 0;
}
a.pages-link {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  align-items: center;
  text-decoration: none;
}
/* TODO */
a.pages-link :hover {
  text-decoration: 0.2rem solid black;
}

/* Skills, Projects, and Extras section */
div#pages-overview {
  display: flex;
  flex-direction: column;
}
div.pages-overview-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: #dff6f7;
}

a.pages-link > * {
  font-size: 2rem;
}
p.pages-text {
  width: 60%;
  text-align: right;
}

/* TABLET & DESKTOP (SIDE-BY-SIDE COLUMNS) */
@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
  br.line-break {
    display: block;
  }

  /* Header box */
  div#header-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  div#header-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  div#header-name {
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }
  div#header-name > * {
    font-size: 4em;
    text-align: left;
  }
  div#header-skill-areas {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
  div.header-skills-row {
    gap: 0;
  }
  div#header-links {
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }
  a.header-link {
    font-size: 2rem;
  }
  
  /* General About Me section */
  div#about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  div#about-blurb {
    padding-right: 1rem;
    border-right: 0.1rem solid black;
  }
  div#about-education {
    padding-left: 1rem;
  }

  h1#education-header {
    display: none;
  }

  /* Skills, Projects, and Extras */
  div#pages-overview {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    padding-bottom: 3rem;
  }

  div.pages-overview-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  a.pages-link > * {
    text-decoration: none;
    font-size: 3rem;
  }

  p.pages-text {
    text-align: right;
  }
}