:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}


/* General styling */
p {
  font-family: 'aller', 'sans-serif';
  font-size: 2rem;
}
p.title {
  font-family: 'eightgon', 'sans-serif';
  font-size: 3rem;
  margin-bottom: 1rem;
}
p.h1 {
  font-family: 'eightgon', 'sans-serif';
  align-self: center;
  text-transform: uppercase;
  writing-mode: tb-rl;
  font-size: 2rem;
}
p.h2 {
  font-family: 'eightgon', 'sans-serif';
  text-transform: uppercase;
  font-size: 1.5rem;
  text-wrap: nowrap;
}

.rotated {
  rotate: -180deg;
  text-wrap: nowrap;
}

/* Full-page styles */
div#skills-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
div#skills-page > * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.skill-section-parent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  gap: 1.75rem;
}
.skill-section-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tech-stack-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.tech-stack-container.two-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.tech-stack-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

div#mui-logo > img {
  height: 40px;
  width: auto;
}

p.other-skill {
  font-size: 1.25rem;
}

div.broad-skill-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
}


/* Tablets and desktop */
@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }

  p.h2 {
    font-size: 1.75rem;
  }

  .skill-section-parent {
    padding: 2rem 3rem 2rem 2rem;
  }

  .tech-stack-container {
    gap: 2rem;
  }

  .tech-logo {
    height: 60px;
    width: auto;
  }

  .tech-stack-container.two-rows {
    flex-direction: row;
    gap: 2rem;
  }

  div#mui-logo > img {
    height: 60px;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  br {
    display: none;
  }

  .broad-skills {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}