# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
jspm_packages/
/.pnp
.pnp.js

# Distribution directories
dist/
dist-ssr

#Not sure what this is (defaulted from vite)
*.local

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dependencies
/node_modules

# testing
/coverage

# production
/build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local