
div.construction-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  margin: 3rem auto;
  height: 100vh;
}

button.construction-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.construction-notice h1 {
  line-height: 1.15em;
}