div#footer {
  margin-bottom: 1rem;

  a {
    color: inherit;
    text-decoration: none;
  }
  a.footer-nav {
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
  a.footer-nav:hover {
    font-size: 0.8rem;
    opacity: 0.75;
  }
  p.footer-attribution {
    color: inherit;
    font-size: 0.75rem;
    margin-top: 0;
  }
}