@forward 'cs-navbar';
@forward 'cs-footer';

/* GENERAL STYLING */
:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html, body {
  background-image: url("/src/assets/backgrounds/cs-bg.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a.section-link {
  text-decoration: none;
}
a.section-link p {
  font-family: 'eightgon', 'sans-serif';
}
.section-link:hover {
  text-decoration: #578a88 underline 0.1rem;
}