@forward 'cs-navbar';
@forward 'cs-footer';

/* GENERAL STYLING */
:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html, body {
  background-image: url("/src/assets/backgrounds/cs-bg.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a.section-link {
  text-decoration: none;
}
a.section-link p {
  font-family: 'eightgon', 'sans-serif';
}
.section-link:hover {
  text-decoration: #578a88 underline 0.1rem;
}

/* Regular */
@font-face {
  font-family: "aller";
  src: url("../assets/fonts/aller.regular.ttf") format("tff");
  font-weight: 400; /* Regular weight (numeric value) */
  font-style: normal; /* Normal style */
  font-display: swap; /* Optional: Improves loading behavior */
}
 
/* Bold */
@font-face {
  font-family: "aller"; /* Same family name */
  src: url("../assets/fonts/aller.bold.ttf") format("tff");
  font-weight: 700; /* Bold weight (numeric value) */
  font-style: normal;
  font-display: swap;
}
 
/* Italic */
@font-face {
  font-family: "aller"; /* Same family name */
  src: url("../assets/fonts/aller.italic.ttf") format("tff");
  font-weight: 400; /* Regular weight */
  font-style: italic; /* Italic style */
  font-display: swap;
}