$bg-color: #dff6f7;
$primary-light: #e0f7fa;
$primary-main: #c3e8ed;
$primary-dark: #7ca6ab;
$primary-text: #165057;
$secondary-light: #c4ccf7;
$secondary-main: #6c7eda;
$secondary-dark: #292f56;
$secondary-text: #4d1aab;
$navbar-bg: #899ebf;