div#navbar {
  position: fixed;
  top: 0;
  left: 0;
}

a.navbar-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

a.navbar-link-active {
  font-size: 1.5rem;
  font-weight: bold;
}

a.navbar-link-home {
  justify-self: last;
  font-size: 0.9rem;
}