div#navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

a.navbar-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

a.navbar-link-active {
  font-size: 1.5rem;
  font-weight: bold;
}

div#navbar {
  background-image: url("../../assets/fillers/cs-navbar.png");
  background-position: left 40%;
  background-attachment: fixed;
  background-position-x: center;
}

a.navbar-link-home {
  display: none;
}
a.navbar-icon-home {
  height: 1rem;
  width: auto;
  color: white;
  align-self: center;
}

@media screen and (min-width:768px) {
  a.navbar-link-home {
    display: block;
    font-size: 0.9rem;
  }

  a.navbar-icon-home {
    display: none;
  }
}