
div.construction-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  margin-top: 3rem;
  height: 100vh;
}
div.construction-notice#container {
  margin-bottom: 3rem;
}
button.construction-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}