

.MuiFormControl-root * {
  border: none;
  margin: 0;
  padding: 0;
}

#project-dropdown-container {
  display: flex;
  flex-direction: row;
}

p.dropdown {
  font-family: 'eightgon', 'sans-serif';
  font-size: 1.25rem;
}

