Container {
  margin: 0 auto;
}

:root {
  margin: 0 auto;
  text-align: center;
  background-image: none;
}

/* Media queries for the layout of the HomepageButtons */
Grid#home_buttons_container {
  display: grid;
}
Grid#home_buttons {
}
@media (mobile) {
  Grid.home_button {
    flex-direction: column;
  }
}
@media (tablet) {
  Grid.home-button {
    flex: 50%,
  }
}
@media (min-width:laptop)  {
  Grid.home-button {
    flex: 25%;
  }
}