Container {
  margin: 0 auto;
}

:root {
  margin: 0 auto;
  text-align: center;
  background-image: none;
}

/* HomepageButtons - mobile-first */
div#home-buttons-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90%;
}
div.home-buttons-row {
  display: flex;
  flex-direction: column;
  padding: 2rem auto;
}
/* HomepageButtons - media queries*/
@media (mobile) {
}
@media (tablet) {
}
@media (min-width:laptop)  {
  div#home-buttons-container {
    display: flex;
    flex-direction: row;
  }
  div.home-buttons-row {
    display: flex;
    flex-direction: row;
  }
}