
@font-face {
  font-family: aller;
  src: url(./assets/fonts/aller.regular.ttf);
}
@font-face {
  font-family: toerks;
  src: url(./assets/fonts/toreks.regular.ttf);
}
@font-face {
  font-family: eightgon;
  src: url(./assets/fonts/eightgon.regular.ttf);
}


:root {
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Verdana", "Arial", sans-serif;
  
  margin: 0;
  padding: 0;
  background-image: none;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}